.context-menu-container {

  position: absolute;
  left: -160px;

  .context-menu {
    border: 1px solid green;
    width: 150px;
    min-height: 400px;
    position: fixed;
    top: 50px;

    ul.actions {
      li {
        display: none;

        &.visible {
          display: block;
        }
      }
    }
  }
}