<div class="context-menu-container">
    <div class="context-menu">
        <ul class="actions">
            <li class="visible">
                <button (click)="createItem()">
                    {{ newItemLabel() }}
                </button>
            </li>
            <li class="visible">
                <button (click)="deleteSelected()">Delete Selected</button>
            </li>
            <li class="visible">
                <button (click)="moveUp()">Move Up</button>
            </li>
            <li class="visible">
                <button (click)="moveDown()">move Down</button>
            </li>
        </ul>
    </div>
</div>