@import 'normalize';
@import 'vars';
@import 'common';
@import '../components/padList/padList.cmp.less';
@import '../components/pad/pad.cmp.less';
@import '../components/titleInput/titleInput.cmp.less';
@import '../components/noteEditor/noteEditor.cmp.less';
@import '../components/contextMenu/contextMenu.cmp.less';
@import '../components/searchBar/searchBar.cmp.less';


html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}

body {
  font-size: @font-size-regular;
  line-height: 1.5;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  position: relative;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}